<header class="col-12 bg-dark  d-flex text-white align-items-center justify-content-center p-4" style="height: 100vh;">
    <div class="text-center"  style="padding-top: 22vh;">
        <h1>嗨嗨 我是培根</h1>
        <div class="my-4">
            <h2>一位努力讓自己變得更溫柔的男孩</h2>
        </div>
        <div style="padding-top: 22vh;">
            <h3>↓ 我的簡介 ↓</h3>
        </div>
    </div>
</header>
