<div class="basic_info mt-5">
    <h2>基本資料</h2>
    <ul>
        <li>生日：2002/03/17</li>
        <li>162/53(努力增重ing)</li>
        <li>綽號：培培/培根/阿培</li>
        <li>台南人 在嘉義民雄念書(重考過一年 目前大三)</li>
    </ul>
</div>

<div class="interest mt-5">
    <h2>興趣</h2>
    <ul>
        <li>玩PC遊戲：LOL(隨單only)、DBD、艾爾登法還、Minecraft、特戰英豪、APEX、隻狼、CSO(有龍炮的那個)</li>
        <li>上大學以後開始喜歡上閱讀(但讀過的書還很少就是了)</li>
        <li>運動：健身房、慢跑</li>
        <s>(好想學會打排球 又穿排球褲又會打球的的真得有夠性感)</s>
        <li>音樂：台灣獨立音樂、J-pop(不喜歡太油的)、Jazz、Lofi-Hip-Hop、一些古典樂</li>
        <li>我好愛權力遊戲(最後兩季不算)、龍之家族</li>
        <li>看一堆迷因幹片(不是中國那種)</li>
        <li>超愛噴幹話跟超級冷笑話</li>
        <s>場面越冷我越愛</s>
        <li>喜歡和對社會學或相關人文學科有一些研究的人討論該領域的內容</li>
</div>

<div class="go_out mt-5">
    <h2>關於出遊</h2>
    <ul>
        <li>如果跟我不熟的話 會希望先聊一陣子並知道大致的外貌再約出去</li>
        <li>雖然有機車駕照也有車 但不敢也不想騎車上路 所以都搭大眾運輸或走路 還請見諒QQ</li>
        <li>其實就算是漫無目的地亂走聊天我也會覺得很快樂</li>
        <li>飲食方面：不能喝牛奶跟會辣的，討厭大陸妹，其他都好說</li>
    </ul>
</div>

<div class="hate mt-5">
    <h2>地雷</h2>
    <P>笑死 我其實不知道自己的雷點具體是甚麼</P>
</div>

<div class="ohter mt-5">
    <h2>還有甚麼想知道的歡迎提問 我再考慮要不要放上去w</h2>
</div>
